@font-face {
  font-family: "DosHandwriting";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/DOSPilgiMedium.woff2")
    format("woff2");
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: "116ParrotBeak";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.0/116angmuburi.woff")
    format("woff");
  font-weight: normal;
  font-display: swap;
}

.semi-logo {
  font-family: "DosHandwriting";
}

.svg-container {
  width: 85%;
}

.animated-text {
  font-size: 160px;

  visibility: hidden;
  fill: none;
  stroke: #214d72;
  stroke-width: 3px;
}
